.bubbleContainer {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.bubble {
  width: 20%;
  min-height: 105px;
  height: 100%;
  background-color: lightgray;
  padding: 0% 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  .rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
