.tableContainer {
  width: 80%;
  height: 80%;
  background-color: lightgray;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  margin: 2% 0%;
}

.btnWrapper {
  display: flex;
  width: 100%;
  margin: 0% 0% 3% 0%;
  font-size: 18px;
  text-align: center;
  .btn {
    max-width: 140px;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid black;

    &.active {
      border: 1px solid black;
      border-bottom: 0px;
    }
  }
}
