.employeeContainer {
  margin: 0 auto; /* Center horizontally */
  background-color: #ccc; /* Grey background */
  padding: 20px; /* Add some padding for spacing */
  width: 80%; /* Adjust the width as needed */
}


  
  
  .leftWrapper {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .rightWrapper {
    max-width: 408px;
    width: 100%;
  }

